{% extends "base.html" %} 
<div class = "container">
{% block content %}   
<center>
<div>
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~ssbyrne89/53.embed"></iframe>
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~ssbyrne89/83.embed"></iframe>
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~ssbyrne89/85.embed"></iframe>
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~ssbyrne89/59.embed"></iframe>
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~ssbyrne89/61.embed"></iframe>
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~ssbyrne89/63.embed"></iframe>
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~ssbyrne89/65.embed"></iframe>
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~ssbyrne89/67.embed"></iframe>
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~ssbyrne89/69.embed"></iframe>
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~ssbyrne89/71.embed"></iframe>
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~ssbyrne89/73.embed"></iframe>
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~ssbyrne89/75.embed"></iframe>
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~ssbyrne89/77.embed"></iframe>
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~ssbyrne89/79.embed"></iframe>
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~ssbyrne89/81.embed"></iframe>
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~ssbyrne89/99.embed"></iframe>
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~ssbyrne89/101.embed"></iframe>
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~ssbyrne89/103.embed"></iframe>
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~ssbyrne89/105.embed"></iframe>
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~ssbyrne89/107.embed"></iframe>
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~ssbyrne89/109.embed"></iframe>
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plotly.com/~ssbyrne89/111.embed"></iframe>
</div>
</center>
{% endblock %}
</div>