<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> -->

{% extends "basic.html" %} 
<div class = "container">
{% block content %}   
    <div class= "container">
        <h1>Dividend Paying Companies</h1>
    </div>
        <p>Welcome. Please enjoy the following table of dividend paying stocks for your reference</p>
        <div class = "container">
            <button type="button" class="btn btn-primary">YoY Increase</button>
            <button type="button" class="btn btn-secondary">Highest AVG Div Yield</button>
            <button type="button" class="btn btn-success">Most Affordable</button>
        </div>
    
    {% endblock %}
</div>