{% extends "base.html" %}
<div class = "container">
    {% block content %}   
        <h1>Ways to Make Money</h1>
        <p>We created this running list because we realized two things: 1)the traditional way of making money with w-2 income
            is no longer the only way and 2)in this day and age many people need a side hustle to make ends meet or have
            a little extra to put to savings. Below is a list of ways to make extra money or even find a main source of income.
            They are not get rich quick schemes. Some of them you may have heard and others might make you say WTF! Some of them
            are passive and others require a good chunk of your time. However, here they are for you to pick and choose, try and
            experiment. 
        </p>

        <h3>Bonus Tip</h3>
        <p>
            If you're taking up a side hustle to put some money away for savings then also check out our "Savings Guide" and
            "Alternative Savings Guide" to help you find how long you need to be grinding with your side hustle to meet your
            savings goal
        </p>

        {% endblock %}

    </div>